{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-800 text-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS + Flowbite</title>
    {% compress css %}
    <link href="{% static 'src/output.css' %}" rel="stylesheet">
    {% endcompress %}
</head>
<body class="h-full flex flex-col justify-between">
    <header class="bg-blue-900 shadow-lg">
        <nav class="container mx-auto flex justify-between items-center py-4">
            <div>
                <a href="{% url 'home' %}" class="px-4 py-2 text-indigo-300 hover:text-indigo-100">Home</a>
                <a href="{% url 'about' %}" class="px-4 py-2 text-indigo-300 hover:text-indigo-100">About</a>
            </div>
        </nav>        
    </header>

    <main class="flex-grow container mx-auto px-4 py-8">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-blue-900 py-4">
        <p class="text-center text-gray-400">Kidd Communications</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
</body>
</html>
